

.header__lang{
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 23px;
color:white;
margin-top:17px;
margin-bottom:12px;
margin-left:18px;
text-decoration: none;



}
.header__lang:nth-last-of-type(2){
    margin-left:0px;
}
@media screen and (max-width:375px){
    .header__lang{
        font-size: 18px;
        line-height: 96.82%;
        margin-left:16px;
    }
}
@media screen and (max-width:320px){
    .header__lang{
        font-size: 18px;
        line-height: 17px;
    }
}
