

.place{

max-width: 984px;

display: grid;
grid-template-columns: repeat(2, 1fr);
/*grid-template-rows: repeat(2,1fr);*/
grid-column-gap: 40px;
grid-row-gap: 60px;


}
@media screen and (max-width:615px){
    .place{
        display:flex;
        flex-direction: column;
        
    }
}