@import url(./__logo/header__logo.css);
@import url(./__lang/header__lang.css);
@import url(./__lang-container/header__lang-container.css);
@import url(./__lang/_active/header__lang_active.css);
.header{

display:flex;
flex-direction: row;
justify-content: space-between;
max-width: 1184px;
width: 92.5%;



}
@media screen and (max-width:1024px){
    .header{
        width:90.6%
    }
}
@media screen and (max-width:768px){
    .header{
        width:93.75%
    }
}
@media screen and (max-width:375px){
    .header{
        width:91.46%
    }
}
@media screen and (max-width:320px){
    .header{
        width:90%
    }
}
