.page__intro{
    margin-top:80px;
    margin-left: auto;
    margin-right: auto;
    
    
   
}
@media screen and (max-width:375px){
    .page__intro{
        margin-top:64px;
        
        
        
       
    }
}