@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('./__cover-bg/cover__cover-bg.css');
@import url('./__item/cover__item.css');
@import url('./__text/cover__text.css');
.cover{
max-width: 1184px;

width:92.5%;
position: relative;


}
.cover:hover{
    opacity:0.2;
}
@media screen and (max-width:1024px){
    .cover{
        width:100%;
        
    }
}
@media screen and (max-width:768px){
    .cover{
        width:100%;
        

    }
}
@media screen and (max-width:375px){
    .cover{
        width:100%;
        
    }
}