.content-title{
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 78px;
text-align: center;
margin:auto;
max-width: 800px;
color: #FFFFFF;

}
@media screen and (max-width:768px){
    .content-title{
        width:93.75%;
        font-size: 42px;
        line-height: 46px;
    }
}
@media screen and (max-width:375px){
    .content-title{
        width:93.75%;
        font-size: 32px;
        line-height: 35px;
    }
}